body {
  font-family: Lucida Grande;
}

input {
  display      : block;
  font         : initial;
  width        : auto;
  border       : none;
  border-bottom: 1pt solid black;
}

input:active {
  outline      : none;
  border-bottom: 1pt solid red;
}

select {
  appearance           : none;
  -webkit-appearance   : none;
  -moz-appearance      : none;
  border               : none;
  outline              : none;
  border-radius        : 0pc;
  /* width             : auto; */
  margin               : 0;
  font                 : initial;
  padding              : 0pc;
  background           : transparent;

  border-bottom: 1pt solid black;
}

pre {
  font-family: Fira Code;
}